# Creating pandas->dataframe by different methods:
Ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame

# Reading data from different files:
Ref: https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [1]:
import pandas as pd

# read data from csv:
df = pd.read_csv("data/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
# read data from excel file:
df1 = pd.read_excel("data/weather_data.xlsx")
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

In [4]:
# create data_frame from python dictionary:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df2 = pd.DataFrame(weather_data)
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
# create df using tupple's list:
weather_data = [
    ('1/1/2022',32,6,'Rain'),
    ('1/2/2022',35,7,'Sunny'),
    ('1/3/2022',28,2,'Snow'),
]
df3 = pd.DataFrame(weather_data, columns=["day","temperature","windspeed","event"])
df3

        day  temperature  windspeed  event
0  1/1/2022           32          6   Rain
1  1/2/2022           35          7  Sunny
2  1/3/2022           28          2   Snow

In [8]:
# create df from list of dictionaries:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
]
df4 = pd.DataFrame(weather_data)
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
# creating df from class-objects by defining a class as follows:

from dataclasses import make_dataclass
Point = make_dataclass("Point",[("x",int),("y",int)])
df5 = pd.DataFrame([Point(0,0), Point(2,3), Point(10,12)])
df5

    x   y
0   0   0
1   2   3
2  10  12